.header{
    background-color: #1F2937;
    color:#F9FAF8;
    padding: 0px 30px 80px 200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 40px;
    font-size:18px;
    color:#E5E7EB;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    margin-top: 100px;
    display: flex;
    justify-content:space-between;
    gap:50px;
}
.maintext{
    margin:0;
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8 ;
    /* 48px extra-bold #F9FAF8 */
}
.right-info{
    width: 400px;
    height: 300px;
    /* padding: 0px;
    margin: 0px; */
}
.info button{
    font-size: 20px;
    background-color:#3882F6;
    border: 0px;
    color:white;
    border-radius: 10px;
    width: 130px;
    height: auto;
}
.info img{
    width: 700px;
    height:300px ;

}

.footer